<div class="jumbotron center">
     <% if user_signed_in? %>
     	     <h1>Welcome to Scraptacular  <%= current_user.email %> </h1>
          # do something
     <% else %>
     				<h1>Welcome to Scraptacular! </h1>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>