<style>
tbody {color:black;}
table,td
{
  border:2px solid black;
}
</style>
<table class="table table-hover">
  <tbody>
    <tr>
      <td><b>Strictly Necesssary cookies</b></td>
      <td>These cookies are essential to enable you to navigate around the site securely and to provide you with services you have specifically requested. For instance, they help ensure that payments are processed securely.</td>
    </tr>
    <tr>
      <td><b>Functionality cookies</b></td>
      <td>These cookies enhance the functionality of the website by storing your preferences. For instance, they can remember your name and location, if you provide this information.</td>
    </tr>
    <tr>
      <td><b>Performance cookies</b></td>
      <td>These cookies improve the performance of the website. For instance, they help pages load quicker.</td>
    </tr>
    <tr>
      <td><b>Online behavioural cookies</b></td>
      <td>These cookies store information about your behaviour online, such as your browsing history. For instance, they help us tailor the advertising we show to you to your interests.</td>
    </tr>
  </tbody>
</table>


